.photo-editor {
  width: 320px;
  margin: 0 auto;
  margin-bottom: -15px;
}

.photo-editor__title {
  width: 255px;
  margin-top: 23px;
}

.photo-editor__header {
  width: 253px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 51px;
}

.photo-editor__icon-comb {
  width: 44px;
  height: 44px;
  opacity: 0.5;

  &--active {
    fill: #d22856;
    opacity: 1;
  }
}

.photo-editor__icon-contrast:active {
  fill: #d22856;
  opacity: 1;
}

.photo-editor__icon-contrast {
  width: 32px;
  height: 32px;
}

.photo-editor__icon-comb:hover {
  opacity: 0.3;
}

.photo-editor__icon-comb:active {
  fill: #d22856;
  opacity: 1;
}


.photo-editor__content-wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #ececec;
}

.photo-editor__form-photo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 400px;
  background: url("../img/photo-7-mobile-jpg.jpg");
  background-position: top;
  background-position-y: 3%;
  background-position-x: 20px;
  background-size: 87%;
  background-repeat: no-repeat;
  padding-bottom: 26px;
}


.photo-editor__img {
  margin-left: 20px;
  padding-top: 15px;
}

.photo-editor__filters-buttons {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-left: 13px;
  margin-top: 22px;
  justify-content: center;
}

.photo-editor__filters-item {
  margin-right: 31px;
  margin-left: 6px;
  margin-top: 6px;
}

//.photo-editor__filters-range {
//  background-color: white;
//  margin-bottom: 20px;
//}

.photo-editor__filters-range {
  background-color: white;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 2px;
    transform: translate(40px, 1px);
    background-color: black;
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(231px, -5px);
    background-color: white;
    border: 2px solid red;
    border-radius: 50%;
  }

  &--disabled {
    display: none;
  }
}

//.photo-editor__filters-range
//&::after {
//  content: "";
//  position: absolute;
//  width: 10px;
//  height: 10px;
//  transform: translate(231px,-5px);
//  background-color: white;
//  border: 2px solid red;
//  border-radius: 50%;
//}

.photo-editor__filters-range:active::after {
  background-color: #d22856;
}

.photo-editor__filters-range--two:active::after {
  background-color: #d22856;
}

.photo-editor__filters-range--tree:active::after {
  background-color: #d22856;
}

//.photo-editor__filters-range {
//  &--two:active::after {
//    background-color: #d22856;
//  }
//}
//
//.photo-editor__filters-range {
//  &--tree:active::after {
//    background-color: #d22856;
//  }
//}

.photo-editor__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 39px;
}

.photo-editor__button {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  width: 280px;
  height: 56px;
  border-radius: 50px;
  margin-bottom: 20px;
  padding-left: 0;
  outline: none;
}

//.photo-editor__filters-range {
//  &--disabled {
//    display: none;
//  }
//}

.photo-editor__form-filters {
  padding-left: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .photo-editor {
    width: 660px;
    margin: 0 auto -19px;
  }

  .photo-editor__icon-comb {
    width: 22px;
    height: 22px;
  }

  .photo-editor__title {
    width: 424px;
    padding-top: 9px;
  }

  .photo-editor__content-wrapper {
    width: 660px;
    margin: 0 auto;
    background-color: #ececec;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .photo-editor__form-photo {
    display: flex;
    padding-right: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 350px;
    padding-top: 0;
    background: url("../img/photo-7-mobile-jpg.jpg");
    background-position: center;
    background-position-y: 33%;
    background-position-x: 6%;
    background-size: 45%;
    background-repeat: no-repeat;
  }

  .photo-editor__filters-buttons {
    padding-left: 0;
    list-style: none;
    display: flex;
    height: 217px;
    flex-direction: column;
    padding-right: 30px;
    padding-top: 5px;
  }

  .photo-editor__icon-contrast {
    width: 16px;
    height: 16px;
    margin-left: 3px;
  }

  .photo-editor__filters-item {
    margin-bottom: 40px;
  }

  .photo-editor__buttons {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding-bottom: 25px;
    margin-top: -3px;
    padding-left: 19px;
    padding-top: 35px;
  }

  .photo-editor__filters-range {
    &--two::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 202px;
      transform: translate(-33px, 81px);
      background-color: black;
    }

    &--tree::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 202px;
      transform: translate(-32px, 152px);
      background-color: black;
    }

    &--two::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      transform: translate(-7px, 75px);
      background-color: white;
      border: 2px solid red;
      border-radius: 50%;
    }

    &--tree::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      transform: translate(64px, 145px);
      background-color: white;
      border: 2px solid #d22856;
      border-radius: 50%;
    }
  }

  //.photo-editor__filters-range {
  //  &--two::after {
  //    content: "";
  //    position: absolute;
  //    width: 10px;
  //    height: 10px;
  //    transform: translate(-7px, 75px);
  //    background-color: white;
  //    border: 2px solid red;
  //    border-radius: 50%;
  //  }
  //}
  //
  //.photo-editor__filters-range {
  //  &--tree::before {
  //    content: "";
  //    position: absolute;
  //    height: 2px;
  //    width: 202px;
  //    transform: translate(-32px, 152px);
  //    background-color: black;
  //  }
  //}
  //
  //.photo-editor__filters-range {
  //  &--tree::after {
  //    content: "";
  //    position: absolute;
  //    width: 10px;
  //    height: 10px;
  //    transform: translate(64px, 145px);
  //    background-color: white;
  //    border: 2px solid #d22856;
  //    border-radius: 50%;
  //  }
  //}

  .photo-editor__filters-range::before {
    width: 202px;
    transform: translate(-33px, 27px);
  }

  .photo-editor__filters-range::after {
    transform: translate(114px, 21px);
  }

  .photo-editor__filters-border::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 272px;
    transform: translate(-84px, 137px);
    background-color: grey;
    opacity: 0.1;
  }

  .photo-editor__filters-border {
    &--two::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 272px;
      transform: translate(-84px, 45px);
      background-color: grey;
      opacity: 0.1;
    }

    &--tree::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 272px;
      transform: translate(-84px, 185px);
      background-color: grey;
      opacity: 0.1;
    }
  }

  //.photo-editor__filters-border {
  //  &--tree::before {
  //    content: "";
  //    position: absolute;
  //    height: 2px;
  //    width: 272px;
  //    transform: translate(-84px, 185px);
  //    background-color: grey;
  //    opacity: 0.1;
  //  }
  //}

  .photo-editor__button {
    width: 260px;
    margin-right: 15px;
  }

  .photo-editor__header {
    width: 418px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    margin: 43px auto 71px;
  }
}

@media (min-width: @desktop-width) {
  .photo-editor {
    width: auto;
    margin: 0 auto;
    margin-bottom: -12px;
  }

  .photo-editor__icon-comb {
    width: 44px;
    height: 44px;
    margin-top: -33px;
  }

  .photo-editor__content-wrapper {
    width: 940px;
    margin: 0 auto;
    background-color: #ececec;
  }

  .photo-editor__form-photo {
    padding-top: 34px;
    padding-left: 400px;
    background: url("../img/photo-7-mobile-jpg.jpg");
    background-position: center;
    background-position-y: 31%;
    background-position-x: 12%;
    background-size: 32%;
    background-repeat: no-repeat;
    padding-bottom: 19px;
  }

  .photo-editor__button {
    width: 183px;
    margin-right: 46px;
  }

  .photo-editor__buttons {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    padding-left: 69px;
    padding-top: 99px;
  }

  //.photo-editor__filters-range
  //&::before {
  //  width: 288px;
  //  transform: translate(17px, -7px);
  //}

  //.photo-editor__filters-range {
  //  &--two::before {
  //    width: 288px;
  //    transform: translate(16px, 45px);
  //  }
  //}
  //
  //.photo-editor__filters-range {
  //  &--tree::before {
  //    width: 288px;
  //    transform: translate(17px, 115px);
  //  }
  //}

  .photo-editor__filters-range {
    &::after {
      transform: translate(88px, -14px);
    }

    &--tree::after {
      transform: translate(177px, 110px);
    }

    &--two::after {
      transform: translate(263px, 38px);
    }

    &--two::before {
      width: 288px;
      transform: translate(16px, 45px);
    }

    &--tree::before {
      width: 288px;
      transform: translate(17px, 115px);
    }

    &::before {
      width: 288px;
      transform: translate(17px, -7px);
    }
  }

  //.photo-editor__filters-range {
  //  &--two::after {
  //    transform: translate(263px, 38px);
  //  }
  //}
  //
  //.photo-editor__filters-range {
  //  &--tree::after {
  //    transform: translate(177px, 110px);
  //  }
  //}

  .photo-editor__header {
    width: 418px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    margin: 0 auto;
    margin-top: 68px;
    margin-bottom: 69px;
  }

  .photo-editor__filters-buttons {
    margin-left: 65px;
    margin-top: -1px;
    padding-right: 0;
  }

  .photo-editor__filters-border::before {
    width: 410px;
    transform: translate(-77px, 27px);
  }

  .photo-editor__filters-border {
    &--two::before {
      width: 410px;
      transform: translate(-78px, 81px);
    }

    &--tree::before {
      width: 410px;
      transform: translate(-76px, 151px);
    }
  }

  //.photo-editor__filters-border {
  //  &--tree::before {
  //    width: 410px;
  //    transform: translate(-76px, 151px);
  //  }
  //}

  .photo-editor__icon-contrast {
    width: 32px;
    height: 32px;
    padding-left: 5px;
  }
}
