.photo-editor {
  width: 320px;
  margin: 0 auto;
}

.photo-editor__header {
  width: 253px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 51px;
}


.content-wrapper {
  width: 320px;
  margin: 0 auto;
  background: url("../img/photo-7-mobile-jpg.jpg");
  background-position: top;
  background-position-y: 3%;
  background-position-x: 20px;
  background-size: 87%;
  background-repeat: no-repeat;
  background-color: #ececec;
}

.form-photo__controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 407px;
}


.photo-editor__img {
  margin-left: 20px;
  padding-top: 15px;
}

.form-photo__filters-buttons {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-left: 47px;
}

.filters-buttons__items {
  margin-right: 31px;
  margin-left: 6px;
  margin-top: 6px;
}

.filters-range {
  margin-bottom: 20px;
}

.filters-range::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 2px;
  transform: translate(40px, 1px);
  background-color: black;
}

.filters-range::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(200px, -6px);
  background-color: white;
  border: 2px solid red;
  border-radius: 50%;
}

.filters-range-two::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 2px;
  transform: translate(40px, 30px);
  background-color: black;
}

.filters-range-two::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(130px, 24px);
  background-color: white;
  border: 2px solid red;
  border-radius: 50%;
}

.filters-range-tree::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 2px;
  transform: translate(40px, 60px);
  background-color: black;
}

.filters-range-tree::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(60px, 55px);
  background-color: white;
  border: 2px solid #d22856;
  border-radius: 50%;
}

.form-photo__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.form-photo__button {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  width: 280px;
  height: 56px;
  border-radius: 50px;
  margin-bottom: 12px;
}

.button--red {
  color: #d22856;
  background-color: #ececec;
  border: 3px solid #d22856;
}

.button--gray {
  color: rgba(40, 54, 69, 0.1);
  background-color: #ececec;
  border: 3px solid rgba(40, 54, 69, 0.1);
}

.button--gray:hover {
  color: rgba(40, 54, 69, 0.3);
  border: 3px solid rgba(40, 54, 69, 0.3);
}

.button--gray:active {
  color: rgba(40, 54, 69, 0.1);
  background-color: gray;
  border: 3px solid gray;
}

.button--red:hover {
  color: white;
  background-color: #d22856;
}

.button--red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d22856;
}

.filter-svg {
  fill: rgba(0, 0, 0, 0.3);
}

.filter-svg:hover {
  fill: rgba(0, 0, 0, 0.5);
}

.filter-svg:active {
  fill: #d22856;
}

.active-filter {
  fill: #d22856;
}

.filters-range-two.disabled {
  display: none;
}

.disable-filters {
  display: none;
}

.form-photo__filters {
  padding-left: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .disable-filters {
    display: block;
  }

  .photo-editor {
    width: 660px;
    margin: 0 auto;
  }

  .content-wrapper {
    width: 660px;
    margin: 0 auto;
    background: url("../img/photo-7-mobile-jpg.jpg");
    background-position: center;
    background-position-y: 40%;
    background-position-x: 10%;
    background-size: 45%;
    background-repeat: no-repeat;
    background-color: #ececec;
  }

  .form-photo__controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 325px;
    padding-top: 40px;
  }

  .form-photo__filters-buttons {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .filters-buttons__items {
    margin-bottom: 15px;
  }

  .form-photo__buttons {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding-bottom: 48px;
    margin-left: 376px;
    margin-top: -3px;
  }

  .filters-range::before {
    width: 202px;
    transform: translate(-35px, 27px);
  }

  .filters-range::after {
    transform: translate(120px, 21px);
  }

  .filters-range-two::before {
    width: 202px;
    transform: translate(-35px, 85px);
  }

  .filters-range-two::after {
    transform: translate(70px, 79px);
  }

  .filters-range-tree::before {
    width: 202px;
    transform: translate(-35px, 156px);
  }

  .filters-range-tree::after {
    transform: translate(10px, 149px);
  }

  .form-photo__button {
    width: 260px;
    margin-right: 15px;
  }

  .photo-editor__header {
    width: 418px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 74px;
  }
}

@media (min-width: @desktop-width) {
  .photo-editor {
    width: 960px;
    margin: 0 auto;
  }

  .content-wrapper {
    width: 940px;
    margin: 0 auto;
    background: url("../img/photo-7-mobile-jpg.jpg");
    background-position: center;
    background-position-y: 40%;
    background-position-x: 10%;
    background-size: 32%;
    background-repeat: no-repeat;
    background-color: #ececec;
  }

  .form-photo__controls {
    padding-left: 455px;
    padding-top: 24px;
  }

  .form-photo__button {
    width: 260px;
    margin-right: 15px;
  }

  .form-photo__buttons {
    display: flex;
    flex-direction: row;
    margin-left: 462px;
    margin-top: 90px;
    margin-right: 0;
    padding-bottom: 48px;
  }

  .filters-range::before {
    width: 288px;
  }

  .filters-range-two::before {
    width: 288px;
  }

  .filters-range-tree::before {
    width: 288px;
  }

  .photo-editor__header {
    width: 418px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    margin: 0 auto;
    margin-top: 68px;
    margin-bottom: 69px;
  }
}
