.reviews__block-wrapper {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .reviews__block-wrapper-blocks {
    width: 640px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .reviews__block-wrapper {
    width: 300px;
    display: flex;
    margin: 0;
    margin-right: 5px;
    margin-left: 18px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__block-wrapper-blocks {
    width: 980px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reviews__block-wrapper {
    width: 300px;
    margin-right: 11px;
    margin-left: 3px;
    display: flex;
  }
}
