.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.container__back-desktop {
  width: 100%;
}

.tablet__mobaile-container {
  background-image: url("../img/back-mobail.svg");
  background-size: 660px;
  background-position-y: -68px;
}

@media (min-width: @tablet-width) {
  .container {
    max-width: 660px;
    display: flex;
    flex-wrap: wrap;
  }

  .container__presentation {
    background-image: url("../img/background-grey-color.svg");
    background-size: 960px;
    background-position-y: -10px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
  }

  .container__back-desktop {
    width: 940px;
    position: relative;
    margin: 0 auto;
  }

  .presentation__container-clock {
    background-color: #ececec;
  }

  .container__menu-background {
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: -12px;
  }

  .container__presentation {
    background: none;
  }
}
