.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.container__mobail {
  background-image: url("../img/back-mobail.svg");
  background-size: 100%;
  background-position-y: -40px;
}

@media (min-width: @tablet-width) {
  .container {
    max-width: 660px;
    display: flex;
    flex-wrap: wrap;
  }

  .container__presentation {
    background-image: url("../img/background-grey-color.svg");
    background-size: 100%;
  }
}

@media (min-width: @desktop-width) {
  .container {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
  }

  .container__main-menu {
    width: 940px;
    position: relative;
    margin: 0 auto;
  }

  .container__clock {
    background-color: #ececec;
  }

  .container_menu-background {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .container__presentation {
    background: none;
  }
}
