.form-feedback__list-message {
  width: 100%;
  text-align: center;
  list-style: none;
  background-color: #ececec;
  padding-top: 0;
  padding-bottom: 35px;
  padding-left: 0;
  margin: 0 auto;
}

.form-feedback__achivments-item {
  margin-bottom: 0;
}

.form-feedback__achivments-wrapper {
  background-color: #ececec;
  margin: 0 auto;
  padding-top: 10px;
}

.form-feedback__input {
  display: block;
  padding: 14px 20px 15px;
  box-sizing: border-box;
  min-height: 63px;
  border: 2px solid lightgray;
  border-radius: 2px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  width: 276px;
}

.form-feedback__message-checkbox {
  display: none;
}

.form-feedback__label-checkbox {
  position: relative;
  display: block;
  padding-top: 1px;
  margin-top: -5px;
  padding-bottom: 4px;
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  cursor: pointer;
  width: 260px;
  margin-left: 40px;
  margin-bottom: 12px;

  &:hover::before {
    border-color: black;
  }

  &:active::before {
    border-color: #d22856;
  }
}

&:checked + .form-feedback__label-checkbox {
  &::after {
    content: "";
  }
}


.form-feedback__label-checkbox::before {
  content: "";
  left: 0;
  top: 50%;
  transform: translate(-54px, 33px);
  width: 35px;
  height: 35px;
  border-radius: 2px;
  margin-left: 35px;
  position: relative;
  display: block;
  padding-top: -16px;
  cursor: pointer;
  border: 2px solid #e5e5e5;
  background-color: white;
}

.form-feedback__label-checkbox::after {
  content: none;
  position: absolute;
  left: -47px;
  top: 47px;
  transform: rotate(-45deg);
  width: 21px;
  height: 10px;
  border-left: 2px solid #d22856;
  border-bottom: 2px solid #d22856;
  margin-left: 37px;
}

.feedback-message__label-wrapper {
  padding-left: 50px;
}


@media (min-width: @tablet-width) {
  .form-feedback__achivments-wrapper {
    width: 616px;
    background-color: #ffffff;
    order: 3;
    padding-top: 1px;
    margin-top: -18px;
  }

  .form-feedback__input {
    width: 100%;
    margin-right: 20px;
  }

  .form-feedback__label-checkbox::before {
    transform: translate(-50px, 35px);
  }

  .form-feedback__label-checkbox::after {
    left: -23px;
    top: 51px;
  }

  .form-feedback__fieldset-messages {
    width: 100%;
    text-align: center;
    list-style: none;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0;
    margin: 0 auto;
  }

  .form-feedback__label-checkbox {
    position: relative;
    display: block;
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    width: 260px;
    margin-left: 40px;
    margin-bottom: 21px;
    margin-top: -17px;
    padding-left: 20px;
  }

  .form-feedback__list-message {
    width: 606px;
    text-align: center;
    list-style: none;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 27px;
    padding-left: 0;
  }

  .form-feedback__fieldset {
    &--achivments {
      border-style: groove;
      border-color: #ececec;
      border-image: initial;
      margin-bottom: 69px;
      border-width: 2px;
      padding: 0;
      width: 615px;
    }
  }

  .feedback-message__label-wrapper {
    padding-left: 50px;
  }
}

@media (min-width: @desktop-width) {
  .form-feedback__list-message {
    width: 100%;
    justify-content: center;
    text-align: center;
    list-style: none;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 0;
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
  }

  .form-feedback__input {
    width: 338px;

    &--padding {
      width: 380px;
    }
  }

  .form-feedback__label-checkbox {
    margin-right: -16px;

    &--hotel {
      order: 6;
    }

    &--beach {
      order: 4;
    }

    &--souvenirs {
      order: 5;
    }

    &--chuck {
      order: 2;
    }

    &--tower {
      order: 3;
    }
  }

  .feedback-message__label-wrapper {
    padding-left: 40px;
  }

  .form-feedback__achivments-wrapper {
    width: 100%;
  }

  .form-feedback__fieldset {
    &--achivments {
      width: 936px;
    }
  }
  //.form-feedback__label-checkbox {
  //  &--beach {
  //    order: 4;
  //  }
  //}
  //
  //.form-feedback__label-checkbox {
  //  &--hotel {
  //    order: 6;
  //  }
  //}
  //
  //.form-feedback__label-checkbox {
  //  &--souvenirs {
  //    order: 5;
  //  }
  //}
  //
  //.form-feedback__label-checkbox {
  //  &--chuck {
  //    order: 2;
  //  }
  //}
  //
  //.form-feedback__label-checkbox {
  //  &--tower {
  //    order: 3;
  //  }
  //}
}
