.form-submit {
  width: 320px;
  margin: 0 auto;
}

.form-submit__button {
  width: 278px;
  height: 60px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  background-color: #2aab6d;
  margin-left: 21px;
  border: 2px solid #2aab6d;
  border-radius: 2px;
  margin-top: 49px;
  text-transform: uppercase;
}

.form-submit__notification-aux {
  display: none;
}

.form-submit__asterix {
  color: #d22856;
}

.form-submit__notification {
  margin: 40px auto 0 69px;
  margin-bottom: 20px;
}

.form-submit__button:hover {
  background-color: #1c9b5e;
}

.form-submit__button:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .form-submit {
    display: flex;
    width: 640px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    order: 5;
    margin-bottom: 43px;
  }

  .form-submit__notification {
    margin-top: 94px;
    margin-left: 142px;
    text-transform: uppercase;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: right;
  }

  .form-submit__button {
    width: 296px;
    margin-top: 71px;
    margin-left: 23px;
  }
}

@media (min-width: @desktop-width) {
  .form-submit {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    order: 5;
    margin-bottom: -30px;
  }

  .form-submit__notification-aux {
    display: block;
    margin-left: 3px;
    margin-right: 3px;
  }

  .form-submit__notification {
    width: 312px;
    display: flex;
    margin-top: 81px;
    margin-left: 327px;
  }

  .form-submit__button {
    width: 297px;
    margin-top: 53px;
    margin-left: 12px;
  }
}
