.copyright__text {
  margin-left: 50px;
}

.footer__copyright-text {
  width: 111px;
  height: 19px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #283645;
}
