.application-title__info-headline {
  width: 229px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 75px;

  &--form {
    padding-bottom: 44px;
  }
}

.application-title {
  padding-top: 20px;
  padding-bottom: 6px;
  background: url("../img/bg-back-mobile@1x.jpg");
  background-color: #1e2631;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: -66px;

  margin: 0 auto;
  width: auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .application-title__info-headline {
    width: 476px;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 44px;
    padding-bottom: 129px;

    &--form {
      padding-top: 51px;
      line-height: 1.2;
      padding-bottom: 69px;
    }
  }

  .application-title {
    background: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-color: #1e2631;
    background-position: top;
    background-position-y: -111px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .application-title__info-headline {
    width: 652px;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 51px;
    padding-bottom: 30px;

    &--form {
      width: 771px;
      padding-bottom: 35px;
      padding-top: 55px;
    }
  }

  .application-title {
    padding-top: 20px;
    padding-bottom: 66px;
    background: none;
  }
}
