.main-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  width: auto;
  min-height: 51px;
  background-color: #283645;

  //&--closed {
  //  background-color: rgba(40, 54, 69, 0.3);
  //  overflow: hidden;
  //}
}

.main-nav__wrapper-logo {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding-bottom: 27px;
  padding-top: 3px;
  border-bottom: 1px solid black;
}

.main-nav__logo {
  position: relative;
  top: 10px;
  padding-left: 22px;
  padding-top: 10px;
}

//.main-nav__toggle {
//  position: relative;
//  z-index: 2;
//  top: 10px;
//  outline: 0;
//  display: block;
//  background: none;
//  padding-right: 20px;
//  cursor: pointer;
//  border: none;
//}

.main-nav__toggle {
  position: relative;
  z-index: 2;
  top: 10px;
  outline: 0;
  display: block;
  background: none;
  padding-right: 20px;
  cursor: pointer;
  border: none;

  &--first path:hover {
    fill: #d22856;
  }

  &--last path:hover {
    fill: #d22856;
  }

  &--first path:active {
    opacity: 0.3;
    fill: #d22856;
  }

  &--last path:active {
    opacity: 0.3;
    fill: #d22856;
  }
}

//.main-nav__toggle {
//  &--last path:hover {
//    fill: #d22856;
//  }
//}
//
//.main-nav__toggle {
//  &--first path:active {
//    opacity: 0.3;
//    fill: #d22856;
//  }
//}
//
//.main-nav__toggle {
//  &--last path:active {
//    opacity: 0.3;
//    fill: #d22856;
//  }
//}

.main-nav--closed .main-nav__toggle-img--closed {
  display: none;
}

.main-nav--opend .main-nav__toggle-img--opened {
  display: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--nojs .site-list__item--active a {
  text-align: center;
}

.main-nav--nojs .user-list__item {
  display: block;
  background-color: #283645;
}

@media (min-width: @tablet-width) {
  .main-nav {
    position: relative;

    width: auto;
    min-height: 51px;

    background-color: #283645;
  }

  .main-nav__logo-image {
    width: 147px;
    height: 40px;
    filter: brightness(10);
    fill: white;
    padding-left: 2px;
  }

  .main-nav__wrapper-logo {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding-top: 7px;
    padding-bottom: 49px;
    border-bottom: 1px solid black;
  }

  .main-nav__toggle {
    position: relative;
    z-index: 2;
    outline: 0;

    display: block;
    background: none;

    cursor: pointer;
    border: none;
    padding-right: 20px;
    padding-top: 24px;
  }

  .main-nav--closed .main-nav__toggle-img--closed {
    display: none;
  }

  .main-nav--opened .main-nav__toggle-img--opened {
    display: none;
  }

  .main-nav__logo {
    position: relative;
  }
}

@media (max-width: @mobile-tablet-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav__logo-image:hover {
    filter: brightness(1);
  }

  .main-nav__logo-image:active {
    filter: brightness(10);
    opacity: 0.3;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  //.main-nav--closed {
  //  background-color: rgba(0, 0, 0, 0.3);
  //}

  .main-nav--opened {
    background-color: #283645;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
  }

  .main-nav--nojs .main-nav {
    background-color: #283645;
  }
}


@media (min-width: @desktop-width) {
  .main-nav {
    background: none;
  }

  .main-nav__wrapper {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo-image {
    filter: none;
    padding-left: 0;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    padding-top: 26px;
  }

  .main-nav__logo {
    position: relative;
    width: 147px;
    margin-right: 65px;
    padding-left: 0;
    padding-top: 0;
  }

  .main-nav__wrapper-logo {
    display: flex;
    width: auto;
    position: relative;
    bottom: 18px;
    justify-content: flex-start;
    padding-bottom: 30px;
    padding-top: 9px;
    border-bottom: none;
  }
}
